/*####### DEFINE VARIABLES ########*/

// General colors
$green: #45e850;
$blue: #4980e5;
$red: #f34141;
$dark: #212429;
$light: #f9f9fb;

// General styles
$box-shadow: 1px 2px 4px rgba($dark, .3);
$border-radius: 12px;
$container: 1280px;
$container-fluid: 100%;
$padding: 1rem;
$margin: 1rem;
$box-sizing: border-box;